---
layout: null
title: Page Not Found
---

<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include head.html %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        img {
            width: 270px;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Page Not Found</h1>
        <p>
            <a href="{{ "/" | absolute_url }}">
                <img src="{{site.logo | relative_url}}" alt="Collin M. Barrett" />
            </a>
        </p>
        {% include footer.html %}
    </div>
    {% include scripts.html %}
</body>

</html>