---
---

@import "{{ site.theme }}";

.logo {
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
}

.social-icons a {
    margin: 0 5px;
}

.menu {
    text-align: center;
    margin: 0 0 20px;
}