---
---

@import "{{ site.theme }}";

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    margin: 0 5px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}