<!DOCTYPE html>
<html lang="en-US">

<head>
  {% include head.html %}
</head>

<body>
  <div class="wrapper">
    <header>
      <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Collin M. Barrett" /></a>

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <ul>
        <li class="view"><a href="https://www.linkedin.com/in/collinbarrett">LinkedIn</a></li>
        <li class="view"><a href="https://github.com/collinbarrett">GitHub</a></li>
        <li class="view"><a href="https://stackoverflow.com/users/2343739/collin-barrett">Stack Overflow</a></li>
        <li class="view"><a href="https://www.goodreads.com/collinbarrett">Goodreads</a></li>
        <li class="view"><a href="https://twitter.com/collinbarrett">Twitter</a></li>
        <li class="view"><a href="https://www.facebook.com/collinmbarrett">Facebook</a></li>
        <li class="view"><a href="https://www.instagram.com/collinmbarrett">Instagram</a></li>
      </ul>

    </header>
    <section>

      {{ content }}

    </section>
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>

</html>