<!DOCTYPE html>
<html lang="en-US">

<head>
  {% include head.html %}
</head>

<body>
  <div class="wrapper">
    <header>
      <a href="{{ "/" | absolute_url }}">
        <img class="logo" src="{{site.logo | relative_url}}" alt="Collin M. Barrett" width="2837" height="982" />
      </a>

      <p class="menu">{{ site.tagline | default: site.github.project_tagline }}</p>

      {% include social.html %}

      <nav class="menu" role="navigation">
        <a href="/blog">Blog</a> |
        <a href="/assets/resume_collinmbarrett.pdf" type="application/pdf">Resume (PDF)</a>
      </nav>

    </header>
    <section>
      {{ content }}
    </section>
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>

</html>