<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ " /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
</head>

<body>
  <div class="wrapper">
    <header>
      <a href="{{ " /" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Collin M. Barrett" /></a>

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <ul>
        <li class="view"><a href="https://www.linkedin.com/in/collinbarrett">LinkedIn</a></li>
        <li class="view"><a href="https://github.com/collinbarrett">GitHub</a></li>
        <li class="view"><a href="https://stackoverflow.com/users/2343739/collin-barrett">Stack Overflow</a></li>
        <li class="view"><a href="https://www.goodreads.com/collinbarrett">Goodreads</a></li>
        <li class="view"><a href="https://twitter.com/collinbarrett">Twitter</a></li>
        <li class="view"><a href="https://www.facebook.com/collinmbarrett">Facebook</a></li>
        <li class="view"><a href="https://www.instagram.com/collinmbarrett">Instagram</a></li>
      </ul>

    </header>
    <section>

      {{ content }}

    </section>
    <footer>
      <p><small>Collin M. Barrett © {{ 'now' | date: "%Y" }}</small></p>
    </footer>
  </div>
  <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>